<div class="class" style="{{ Styles }}">
  <i class="fa fa-{{ Icon }}" aria-hidden="true"></i>
  <span class="name">{{ ID }} [{{ Location }}]</span>
  <span class="time">{{ StartPrintable }} - {{ EndPrintable }}</span>
  <span class="sub">{{ ActivityName }}</span>
</div>
